[package]
name = "northstar-stress"
version = "0.0.1-pre"
authors = ["ESRLabs"]
edition = "2021"
license = "Apache-2.0"
readme = "../README.md"
repository = "https://github.com/esrlabs/northstar"

[dependencies]
anyhow = "1.0.58"
clap = { version = "3.2.4", features = ["derive"] }
env_logger = "0.9.0"
futures = { version = "0.3.21", default-features = false }
humantime = "2.1.0"
itertools = "0.10.3"
log = "0.4.17"
northstar-client = { path = "../northstar-client" }
rand = "0.8.5"
tokio = { version = "1.19.2", features = ["rt-multi-thread", "macros", "net", "time", "signal"] }
tokio-stream = { version = "0.1.9", features = ["time"] }
tokio-util = "0.7.3"
url = { version = "2.2.2", features = ["serde"] }
