[package]
name = "token-server"
version = "0.0.1"
authors = ["ESRLabs"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
anyhow = { version = "1.0.66", features = ["backtrace"] }
base64 = "0.13.1"
northstar-client = { path = "../../northstar-client" }
tokio = { version = "1.22.0", features = ["macros", "rt", "net"] }

[package.metadata.npk]
manifest = "manifest.yaml"

[package.metadata.npk.target.'aarch64-unknown-linux-gnu']
use_cross = true

[package.metadata.npk.target.'aarch64-unknown-linux-musl']
use_cross = true

[package.metadata.npk.target.'aarch64-linux-android']
use_cross = true
