[package]
name = "northstar-tests"
version = "0.1.0"
authors = ["ESRLabs"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
anyhow = "1.0.56"
env_logger = "0.9.0"
futures = "0.3.21"
lazy_static = "1.4.0"
log = "0.4.14"
nanoid = "0.4.0"
nix = "0.23.1"
northstar = { path = "../northstar", features = ["api", "runtime"] }
regex = "1.5.5"
rusty-fork = "0.3.0"
tempfile = "3.3.0"
tokio = { version = "1.17.0", features = ["fs", "time"] }
url = "2.2.2"

[build-dependencies]
tempfile = "3.3.0"
escargot = "0.5.7"
northstar = { path = "../northstar", features = ["api", "npk"] }
