# Directory where containers are mounted
run_dir = "target/northstar/run"
# Directory for `persist` mounts of containers
data_dir = "target/northstar/data"
# Top level cgroup name
cgroup = "northstar"
# Event loop buffer size
event_buffer_size = 256
# Notification buffer size
notification_buffer_size = 64
# Token timeout
token_validity = "1m"
# Loop device timeout
loop_device_timeout = "5s"

# Debug TCP console on localhost
[debug]
console = "tcp://localhost:4200"
# Start a set of commands after a container is started.
# <PID> is replaced with the init PID of the container.
# <CONTAINER> is replaced with the container name.
# stdout and stderr are redirected to the runtime log.
# The spawned commands are *not* killed when the container is stopped.
commands = [
    # "sudo strace -f -s 256 -p <PID>", # strace to log
    # "sudo strace -c -p <PID>", # strace to log and count syscalls
    # "sudo strace -f -s 256 -p <PID> -o /tmp/strace-<CONTAINER>-<PID>.log" # strace to file
    # "sudo perf record -p <PID> -o /tmp/perf-<PID>-<CONTAINER>.perf -g -F 99" # perf to file
]

# NPK Repository `memory` configuration. This is a not persistent in memory repository
[repositories.memory]
type = "mem"
key = "examples/northstar.pub"
# Maximum number of containers that can be stored in this repository.
capacity_num = 10
# Maximum total size of all containers in this repository.
capacity_size= "100MB"

# NPK Repository `default` in `dir`
[repositories.default]
type = { fs = { dir = "target/northstar/repository" }}
key = "examples/northstar.pub"
mount_on_start = true
