debug = true
console_address = "localhost:4200"
container_uid = 1000
container_gid = 1000

[directories]
container_dirs = [ "target/north/registry" ]
run_dir = "target/north/run"
data_dir = "target/north/data"
key_dir = "examples/keys"

[cgroups]
memory = "north"
cpu = "north"

[devices]
unshare_root = "/"
unshare_fstype = "ext4"
loop_control = "/dev/loop-control"
loop_dev = "/dev/loop"
device_mapper = "/dev/mapper/control"
device_mapper_dev = "/dev/dm-"
