debug = true
console = "tcp://localhost:4200"
run_dir = "target/northstar/run"
data_dir = "target/northstar/data"

[repositories.default]
dir = "target/northstar/repository"
key = "examples/keys/northstar.pub"

[cgroups]
memory = "northstar"
cpu = "northstar"

[devices]
unshare_root = "/"
loop_control = "/dev/loop-control"
loop_dev = "/dev/loop"
device_mapper = "/dev/mapper/control"
device_mapper_dev = "/dev/dm-"
