[package]
name = "token-client"
version = "0.0.1"
authors = ["ESRLabs"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
anyhow = { version = "1.0.70", features = ["backtrace"] }
base64 = "0.21.0"
futures = { version = "0.3.27", default-features = false }
northstar-client= { path = "../../northstar-client" }
tokio = { version = "1.26.0", features = ["macros", "rt", "net"] }
tokio-util = { version = "0.7.7", features = ["codec"] }

[package.metadata.npk]
manifest = "manifest.yaml"

[package.metadata.npk.target.'aarch64-unknown-linux-gnu']
use_cross = true

[package.metadata.npk.target.'aarch64-unknown-linux-musl']
use_cross = true

[package.metadata.npk.target.'aarch64-linux-android']
use_cross = true
