[package]
name = "northstar"
version = "0.6.4"
authors = ["ESRLabs"]
edition = "2018"
build = "build.rs"
license-file = "LICENSE.md"

[dependencies]
async-stream = { version = "0.3.0", optional = true }
async-trait = { version = "0.1.50", optional = true }
bincode = { version = "1.3", optional = true }
bitflags = { version = "1.2", optional = true }
bytes = { version = "1.0", optional = true }
bytesize = { version = "1.0", optional = true }
caps = { version = "0.5.1", optional = true }
derive-new = { version = "0.5.9", optional = true }
ed25519-dalek = { version = "1.0", optional = true }
floating-duration = { version = "0.1.2", optional = true }
futures = "0.3.14"
hex = { version = "0.4.3", optional = true }
itertools = { version = "0.10.0", optional = true }
lazy_static = { version = "1.4", optional = true }
log = { version = "0.4.14", features = [ "serde"] }
memoffset = { version = "0.6.3", optional = true }
minijail = { path = "../minijail/rust/minijail", optional = true }
nix = { version = "0.20.0", optional = true }
npk = { path = "../npk", optional = true }
page_size = { version = "0.4.2", optional = true }
proc-mounts = { version = "0.2.4", optional = true }
procinfo = { version = "0.4.2", optional = true }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = { version = "1.0", optional = true }
tempfile = { version = "3.2", optional = true }
thiserror = "1.0"
tokio = { version = "1.5", features = ["full"] }
tokio-util = { version = "0.6.6", features = ["codec"], optional = true }
url = { version = "2.2", features = ["serde"] }
uuid = { version = "0.8.2", features = ["v4"] }

[dev-dependencies]
anyhow = "1.0"
nix = "0.20.0"
proptest = "1.0"

[features]
default = []
api = ["bytes", "derive-new", "npk", "serde_json", "tokio-util"]
hello-world = []
rt-island = ["caps", "runtime"]
rt-minijail = ["runtime", "minijail"]
runtime = [
    "api",
    "async-stream",
    "async-trait",
    "bitflags",
    "bincode",
    "bytesize",
    "ed25519-dalek",
    "floating-duration",
    "hex",
    "itertools",
    "lazy_static",
    "nix",
    "npk",
    "page_size",
    "proc-mounts",
    "procinfo",
    "tempfile",
]
seccomp = ["memoffset"]

[build-dependencies]
anyhow = "1.0"
bindgen = "0.58.1"
lazy_static = "1.4.0"
nix = "0.20.0"
npk = { path = "../npk" }
regex = "1.4.2"
tokio = { version = "1.5", features = ["rt-multi-thread"] }
