[package]
name = "northstar"
version = "0.0.1-pre"
authors = ["ESRLabs"]
edition = "2021"
license = "Apache-2.0"
readme = "../README.md"
repository = "https://github.com/esrlabs/northstar"
default-run = "northstar"

[dependencies]
anyhow = "1.0.58"
clap = { version = "3.2.4", features = ["derive"] }
log = "0.4.17"
nix = { version = "0.24.1", default-features = false, features = ["sched", "mount"] }
northstar-runtime = { path = "../northstar-runtime", features = ["runtime"] }
tokio = { version = "1.19.2", features = ["rt-multi-thread", "macros", "signal"] }
toml = "0.5.9"

[target.'cfg(not(target_os = "android"))'.dependencies]
env_logger = "0.9.0"

[target.'cfg(target_os = "android")'.dependencies]
android-logd-logger = "0.3.2"
