name: Tests

on: [push, pull_request]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    env:
        TERM: xterm-256color
    steps:
      - name: Install libcap
        run: sudo apt install libcap-dev
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Checkout
        uses: actions/checkout@v2
      - name: Tests
        run: cargo test --all-features -- --color always
        env:
            CLICOLOR_FORCE: yes
